.dignity {
  padding: 60px 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.dignity__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}

.dignity__title {
  font-style: normal;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--color-black);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  margin-bottom: 10px;
}


.dignity__text {
  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--color-grey);
}
.dignity__logo {
  @extend %flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
