.header {
  
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}
.header-container-menu{
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-container {
  display: flex;
  align-items: center;
  color: var(--color-grey);
}





// .section{
//   padding: 94px 0;
// }

.menu-log {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--color-black);
  display: flex;
  align-items: center;
  .menu-contacts {
    display: flex;
  }
  .link:active,
  .link:hover,
  .link:focus,
  .link:active {
    color: var(--color-hover);
  }
}
.menu-items {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.menu-link {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-black);
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
 
}
.menu-link.current::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  transform: translateY(1px); 
}
.menu-link.current{
  color: var(--color-hover);
}
.menu-list {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

/* ------------------ contacts----------------*/

// .contacts {
//   @include font(500, 14px, 1.14, 0.02em);
//   margin-left: auto;
//   display: flex;
//   align-items: center;
// }

.menu-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.contacts-link {
  display: flex;
  align-items: center;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include font(500, 14px, 1.14, 0.02em);
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.tel-icon,
.mail-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon,
.tel-icon {
  fill: var(--color-grey);
  margin-right: 10px;
}

.contacts-item {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }

  &:hover {
    .mail-icon {
      fill: var(--color-hover);
    }
  }
  .link:hover {
    color: var(--color-hover);
  }
  &:hover {
    .tel-icon {
      fill: var(--color-hover);
    }
  }
}
