.works__title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--color-black);
  margin-bottom: 50px;
}
.works {
  @media screen and (max-width: 768px) {
    padding: 0;
    display: none;
  }

  @media screen and (max-width: 1199px) {
    padding: 0;
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 370px;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__title {
  position: absolute;
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.product__item {
  position: relative;
}
